html {
    height: 100%;
}

body {
    background: url('https://raeel97-spill-the-t.s3.eu-west-1.amazonaws.com/media/hero-2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}
.nav-title {
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
}

.nav-title-img {
    width: 4rem;
    padding-bottom: 10px;
}

.container-override {
    background-color: #fff;
    border-radius: 25px;
    margin-top: 10%;
    padding-top: 5%;
    margin-bottom: 10%;
    padding-bottom: 5%;
}

.container- {
    
}

.img-block {
    padding-right: 10%;
    padding-left: 10%;
}

.img-block > img {
    border: 1px solid #000000;
    border-radius: 10px;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #ffffff;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(255, 255, 255, 0.397);
	z-index: -1;
}


.card {
    border: none;
    background-color: rgba(255, 255, 255, 0.836);
}

.card-body-view {
    border: 3px solid #ffa6dd9c;
    border-radius: 25px;
}

.card-img-top {
    border: 3px solid #7cb9ff;
    border-radius: 25px;
    margin-bottom: -5px;
}

.image-container {
    position: relative;
}

.image-flash {
    bottom: 5%;
    background-color: #7cb9ff;
    width: 50%;
    margin: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 80%;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
        color: black;
        text-align: center;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #ffa6dd;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #ffa6dd;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    border: 1px solid #7cb9ff;
    border-radius: 0.25rem;
    color: #7cb9ff;
}

.link {
    color: #7cb9ff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #ffa6dd;
    text-decoration: underline;
}

.btn-like {
    color: #7cb9ff;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #7cb9ff;
    background: transparent;
    border: none;
}

.git-link {
    font-size: x-large;
    width: 1.6rem;
    border: 1px solid #ffa6dd;
    border-radius: 5px;
}

.glow {
    font-weight: 900;
    color: black!important;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 0.2rem #fff, 0 0 0.3rem #fff, 0 0 0.4rem #e60073, 0 0 0.5rem #e60073, 0 0 0.6rem #e60073, 0 0 0.7rem #e60073, 0 0 0.8rem #e60073;
    }
    to {
      text-shadow: 0 0 0.2rem #fff, 0 0 0.3rem #ffffff, 0 0 0.4rem #4dc7ff, 0 0 0.5rem #4dbeff, 0 0 0.6rem #4da9ff, 0 0 0.7rem #4da9ff, 0 0 0.8rem #4da9ff;
    }
  }

.edit-delete {
    float: right;
    margin-right: 5px;
}

.delete {
    color: red;
}

.edit {
    color: green;
}

.nav-contact {
    color: #e60073 !important;
}

.center-button {
    text-align: center;
}

.note-editor, .note-frame, .panel, .panel-default {
    max-width: fit-content;
}