{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="overlay"></div>
<div class="container container-override">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="post" >{% csrf_token %}
     
                <h1>Are you sure you want to delete "{{ object }}"?</h1>
                 
                    <input type="submit" value="Confirm" class="btn btn-signup">
                    <input type=button value="Cancel"  class="btn btn-signup" onClick="javascript:history.go(-1);">
                    <!-- goback function credit: 
                        https://stackoverflow.com/questions/524992/django-templates-create-a-back-link  -->
                </form>
        </div>
    </div>
</div>




{% endblock content %}

