{% extends "base.html" %}

{% block content %}

<div class="overlay"></div>
<div class="container  container-override">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Spill The<span><img src="https://raeel97-spill-the-t.s3.eu-west-1.amazonaws.com/media/nav-title.svg" alt="" class="nav-title-img"></span></h3>

            <p>Spill the T is a fictional blog created for educational purposes using Django. Spill the T aims to focus on transgender and gender diverse news in Ireland. All articles and their respective content are entirely the property of their respective owners and are used for educational purposes only, subject to Free Use Disclosure! </p>
            <p>If you would like to get in touch with the owner of this website, please use the contact form or alternatively you can reach them on their github profile located on the website footer. </p>
            <a class="btn btn-signup right" href="{% url 'post_view' %}">View Blog</a>
        </div>
    </div>
</div>
{%endblock%}