{% extends "base.html" %}

{% block content %}

<div class="overlay"></div>
<div class="container  container-override">
    <div class="row">
        <img class="future-feature col-md-8 mt-3 offset-md-2" src="https://raeel97-spill-the-t.s3.eu-west-1.amazonaws.com/media/future-feature.png" alt="future-feature in pink with blue tool icon">
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 center-button">
            

            <p>Whoops, looks like you have stumbled onto a future feature that's currently being built!</p>
            <p>We appreciate your eagerness to get aquainted with our new features, and as soon as they are released we'll notify you!</p>
            <a class="btn btn-signup right" href="{% url 'home' %}">Home</a>
        </div>
    </div>
</div>
{%endblock%}