{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="overlay"></div>
<div class="container container-override">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>CREATE A RECIPE</h1>
            <strong>Please don't use this form on tablet or mobile!</strong>
            <br><br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-signup" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

